[defaults]
collections_path = /usr/share/ansible/collections
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
nocows = True

[persistent_connection]
connect_timeout = 30
command_timeout = 30
log_messages = False
